body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f4f7fa;
    color: #273D59;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-top: 20px;
}

p {
    margin-bottom: 20px;
}

a {
    color: #273D59;
    text-decoration: none;
    font-size: 16px;
}

a:hover {
    text-decoration: underline;
}