* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.pagina {
  width: 100%;
  height: 100vh;
  overflow: scroll;
  background-color: rgb(224, 224, 224);
  background-position: center;
  background-size: cover;
}
#col1{
  background-color: rgb(241, 103, 103);
}
#col2{
  background-color: rgb(231, 231, 107);
}
#col3{
  background-color: rgb(76, 231, 110);
}
#col4{
  background-color: rgb(104, 228, 245);
}
#form {
  padding: 32px 32px 0;
}

#form input {
  padding: 12px;
  margin-right: 12px;
  width: 225px;
  border-radius: 7px;
  border: none;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
  background: white;
  font-size: 14px;
  outline: none;
}

#form button {
  padding: 12px 32px;
  border-radius: 7px;
  border: none;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
  background: #ffffff;
  color: black;
  font-weight: bold;
  font-size: 14px;
}

/* ---- BOARD ---- */
.tab {
  display: flex;
  align-items: flex-start;
  justify-content: start;
  gap: 16px;
  padding: 24px 32px;
  height: 100%;
}

.titolo {
  font-size: 22px;
  font-weight: bold;
}

.colonna {
  display: flex;
  flex-direction: column;
  gap: 12px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
  padding: 12px;
  border-radius: 7px;
  width: 225px;
  min-height: 120px;
  flex-shrink: 0;
}

.task {
  background: white;
  color: black;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
  padding: 12px;
  border-radius: 7px;
  font-size: 16px;
  cursor: move;
}